@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom-button {
  /* background-color: darkblue; */
  color: darkblue !important;

  border: 1px solid #564eac;
  padding: 5px 20px !important;
  border-radius: 6px !important;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.top-n {
  padding: 0px 9px;
  color: wheat;
  background-color: darkblue;
  size: 25px !important;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 19px;
}

.bg-sl {
    
  background-color: #6F2EFF;
  background-color: var(--chakra-colors-purple-400);
  width: var(--chakra-sizes-3);
  height: var(--chakra-sizes-3);
  border-radius: var(--chakra-radii-sm);
  display: inline-block; 
  margin: 0px 9px;
}
textarea{
  border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
    background: var(--chakra-colors-white);

}
.css-1csoi55 {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  font-weight: var(--chakra-fontWeights-semibold);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-6);
  min-width: var(--chakra-sizes-6);
  font-size: var(--chakra-fontSizes-xs);
  padding-inline-start: var(--chakra-space-2);
  padding-inline-end: var(--chakra-space-2);
  border: 1px solid currentcolor;
  color: var(--chakra-colors-purple-600);
  background: var(--chakra-colors-transparent);
}
.value {
  text-align: center;
  margin-top: 10px;
}
.css-1igwmid {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.css-1rr4qq7{
  flex: 1 1 0%;
}

.css-icqrzr {
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  font-weight: var(--chakra-fontWeights-medium);
  line-height: 1.2;
  outline: transparent solid 2px;
  outline-offset: 2px;
  --tag-color: var(--badge-color);
  --tag-bg: var(--badge-bg);
  --tag-shadow: var(--badge-shadow);
  color: var(--tag-color);
  background: var(--tag-bg);
  box-shadow: var(--tag-shadow);
  border-radius: var(--chakra-radii-md);
  min-height: var(--tag-min-height);
  min-width: var(--tag-min-width);
  font-size: var(--tag-font-size);
  padding-inline-start: var(--tag-padding-inline);
  padding-inline-end: var(--tag-padding-inline);
  --tag-min-height: var(--chakra-sizes-6);
  --tag-min-width: var(--chakra-sizes-6);
  --tag-font-size: var(--chakra-fontSizes-sm);
  --tag-padding-inline: var(--chakra-space-2);
  --badge-bg: var(--chakra-colors-orange-100);
  --badge-color: var(--chakra-colors-orange-800);
}

css-1t7rcca:last-of-type {
  border-bottom-width: 1px;
}

.css-1t7rcca {
  overflow-anchor: none;
  border: var(--chakra-borders-none);
}

*, ::before, ::after {
  border-color: var(--chakra-colors-chakra-border-color);
}

:where(*) {
  border-width: 0px;
  border-style: solid;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.css-sn6odx {
  width: 100%;
  height: var(--input-height);
  font-size: var(--input-font-size);
  padding-inline-start: var(--input-padding);
  padding-inline-end: var(--input-padding);
  border-radius: var(--input-border-radius);
  min-width: 0px;
  outline: transparent solid 2px;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  --input-font-size: var(--chakra-fontSizes-md);
  --input-padding: var(--chakra-space-4);
  --input-border-radius: var(--chakra-radii-md);
  --input-height: var(--chakra-sizes-10);
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: inherit;
  background: var(--chakra-colors-white);
}